body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative; /* Make the container a positioning context for child elements */
}

.background-image {
    width: 33.33%; /* Set the width to 100% to cover the container */
    height: auto; /* Maintain the aspect ratio */
    height: 100%;
  }

.logo{
    position: absolute; /* Position the logo element absolutely within the container */
    width:12%;
    height:20%;
    top: 20vh; 
    left: 10vw; 
    z-index: 1; /* Ensure the logo appears on top of the background image */
}



.content-container {
    width: 66.66%;
    height: 100%;
    display: flex; /* Make it a flex container to control text position */
    flex-direction: column; /* Stack text vertically by default */
    justify-content: flex-start;
}

.opening-message {
    background-color: rgb(238, 236, 236);
    font-weight: bold;
    padding: 7vh;
    
}

.form-section {
    height: 35%;
    margin-left: 2vw;
    margin-top: 2vh;
    
}


/* Style for the form rows and columns */
.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.form-column {
    flex: 1;
    margin-right: 3vh;
}

/* Style for labels and inputs */

form {
    margin-top: 2vh;
}

label {
    display: block;
    margin-bottom: 0.5vh;
    font-size: 1vw;
}

input {
    width: 20vw;
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-header {
    font-size: 2vw;
}

footer{
    background-color: lightgrey;
    height:25vh;
    position: absolute;
    bottom:0;
    width: 66.66%;
}

.footer-content {
    margin-left: 2vw;
    margin-top: 2vh;
}

button{
    color: white;
    background-color: #596D48;
    border-radius: 3px;
    padding:0.5vw;
    cursor: pointer;
}

.login{
    color: #596D48;
    cursor: pointer;
}


