body{
    background-color: darkslategrey;
}

img {
    width: 33.33%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1614398032871-919d652c7b8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2486&q=80');
    background-size: cover;
}